# Nitro dev/build outputs
.data
.output
.nitro
.cache
dist

# Node dependencies
node_modules

# Package Manager
package.json
pnpm-lock.yaml

# Logs
logs
*.log

# Testing
coverage

# Misc
.DS_Store
.fleet
.idea

# Env files
.env*
!.env.example

# Prisma files
prisma/*.db
prisma/*.db-*
prisma/generated